body {
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: center;
}

#title {
  padding: 10px;
  font-weight: 700;
}

.btn {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
}

#toggle {
  &.enable {
    background-color: #2ea44f;
  }
  &.disable {
    background-color: #ea4c89;
  }
}

#link-annoyance-list-container {
  padding: 0.5em;
}

#link-annoyance-list {
  color: #363636;
}

#results-title {
  padding: 0.5em;
  font-weight: 600;
}

#results-container {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
  li {
    padding: 0.5em 1em;
    a {
      color: #363636;
    }
  }
}

#btn-add-website {
  margin-bottom: 0.5em;
  background-color: #2e61a4;
  color: #fff;
  &.disable {
    color: #363636;
    cursor: not-allowed;
    background-color: #fff;
  }
}
